h1 {
  color: rgba(168, 14, 240, 0.842);
}
.heading-container {
  display: flex;
  font-size: medium;
  justify-content: flex-start;
}
#detail {
  display: flex;
  justify-content: flex-start;
  color: blue;
  background-color: azure;
}
.Select-box {
  display: flex;
  margin: 10px;
  padding: 17px;
}
input{
  cursor: pointer;
  border-radius: 25px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 12px 20px;
  margin: 8px 0;
}
select{
  cursor: pointer;
  border-radius: 25px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 12px 20px;
  margin: 8px 0;
}
.label {
  padding: 8px 13px;
}
.select-option {
  width: 140px;
}
span {
  color: black;
}
th {
  padding: 30px 30px;
  background-color: burlywood;
}
#second-header {
  background-color: lightskyblue;
}
.btn {
  cursor: pointer;
  background-color: #b24cfd;
  border-radius: 25px;
}
#table {
  border:#b24cfd;
  background-color:rgb(211, 189, 181);
  border-radius: 25px;
}
td {
  padding: 30px;
  align-items: center;
  border: 1px solid black;
}
td:hover {
  background-color: aqua;
}
#book{
  background-color: red;
}
#available{
  background-color: green;
}
#no-slots{
  color:crimson;
  display: flex;
  justify-content: center;
  justify-items: center;
  animation:move 3s infinite ease-in-out;
}
/* #no-slots:hover{    
  transform: scale(2) rotate(0.1deg);
} */
@keyframes move{
  0%{
   transform: scale(1) rotate(0deg);
  }
    50%{
     transform: scale(2) rotate(0.1deg);
  
    }
  
  }
#second-header{
  border-radius: 25px;
  overflow: hidden;
    box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 12px 20px;
  margin: 8px 0;
}
#detail{
  border-radius: 20px;
  overflow: hidden;
}
#outsideTable{
  border-radius: 25px;
  overflow: hidden;
      margin: 6px;
}